# Gradle
.gradle/
build/
out/
classes/

# Fabric / Minecraft
run/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/
*.launch

# VS Code
.vscode/

# NetBeans
nbproject/
nbbuild/
nbdist/
.nb-gradle/

# Logs
*.log
hs_err_pid*.log
replay_pid*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
